

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100 ver4 m-b-110">
        <div class="table100-head">
          <table>
            <thead>
            <tr class="row100 head">
              <th class="cell100 column1">id</th>
              <th class="cell100 column2">email</th>
              <th class="cell100 column3">commande</th>
              <th class="cell100 column4">Price</th>
              <th class="cell100 column4">Action</th>

            </tr>
            </thead>
          </table>
        </div>

        <div class="table100-body js-pscroll">
          <table>
            <tbody *ngFor="let command of commandeList">
            <tr class="row100 body">
              <td class="cell100 column1">{{command.id}}</td>
              <td class="cell100 column2">{{command.user.email}}</td>
              <td class="cell100 column3" >
                <div *ngFor="let order of command.order">
                  id:{{order.id}} plat : {{order.name}} prix :{{order.price}}
                </div></td>


              <td class="cell100 column4" >
                {{command.prix}}

              </td>
              <td class="cell100 column4" >
                <button *ngIf="command.seen === false" [ngClass]="'btn btn-success' " (click)="activer(command)" >follow</button>
                <button *ngIf="command.seen === true" class="btn btn-warning " (click)="desactiver(command)" >unfollow</button>
                <button class="btn btn-danger " (click)="deleteCom(command)" >Delete</button>
              </td>
            </tr>


            </tbody>

          </table>
        </div>
      </div>
    </div></div></div></body></html>
