
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Nunito:600,700,900" rel="stylesheet">

</head>
<body id="body">
<div class="espace"></div>
<div id="login-card" class="card">
  <div class="card-body">
    <h2 class="text-center">Login form</h2>
    <br>
    <form #f="ngForm">
      <div class="form-group">
      <input  placeholder="enter username" type="text" name="username" class="form-control email" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <input  placeholder="enter password" type="password" name="password" class="form-control email" [(ngModel)]="password" required>
      </div>
      <button class="btn btn-primary deep-purple btn-block" id="button" type="submit"  [disabled]="f.invalid " (click)="connect()" >connect</button>
      <div class="alert alert-danger" *ngIf="erreur">mot de passe ou identifiant incorrect</div>
      <div class="alert alert-danger" *ngIf="erreur1">l'utilisateur n'est pas registrer </div>
      <br>
      <br>

      <div id="btn" class="text-center">
        <button type="button" class="btn btn-primary btn-circle btn-sm"><i class="fa fa-facebook"></i></button>
        <app-auth-button (notify)="onChecked($event)"></app-auth-button>


      </div>

    </form>
  </div>
</div>
</body>
</html>
