
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="limiter">
  <div class="container-table100">
    <div class="wrap-table100">
      <div class="table100 ver1 m-b-110">
        <div class="table100-head">
          <table>
            <thead>
            <tr class="row100 head">
              <th class="cell100 column1">Id</th>
              <th class="cell100 column2">Name</th>
              <th class="cell100 column3">description</th>
              <th class="cell100 column4">price</th>
              <th class="cell100 column4">category</th>
              <th class="cell100 column4">image</th>
              <th class="cell100 column4">action</th>
            </tr>
            </thead>
          </table>
        </div>

        <div class="table100-body js-pscroll">
          <table>
            <tbody *ngFor="let plat of platsList">
            <tr class="row100 body">
              <td class="cell100 column1">{{plat.id}}</td>
              <td class="cell100 column2">{{plat.name}}</td>
              <td class="cell100 column3">{{plat.description}}</td>
              <td class="cell100 column4">{{plat.price}}</td>
              <td class="cell100 column4">{{plat.category}}</td>
              <td class="cell100 column4"><img [src]="plat.image" width="200"></td>
              <td class="cell100 column4"><button class="btn btn-warning" [routerLink]="['/updateplat/'+ plat.id]">Modify</button>
                <button class="btn btn-danger" (click)="deletePlat(plat)">Delete</button>
              </td>
            </tr>


            </tbody>
          </table>
        </div>
      </div>
    </div></div></div></body></html>
