
<html lang="en">
<head>




</head>
<body id="body">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" [src]="a" alt="First slide">
      <div class="salut">  <div class="container">
        <div class="slider-content text-white">
          <div class="in-box">
            <h2>Awesome Restaurant, Best Recipes for Dinner</h2>

            <a class="btn-slider hvr-radial-in" href="#">Learn More</a>
          </div>
        </div>
      </div></div>
    </div>
  </div>
  <a class="carousel-control-prev" (click)="funcA()" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next"  (click)="funcB()" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div id="about" class="section lb">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="message-box">
          <h2>Welcome to Green Special Restaurant.</h2>
          <p> Integer rutrum ligula eu dignissim laoreet. Pellentesque venenatis nibh sed tellus faucibus bibendum. Sed fermentum est vitae rhoncus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero, eu bibendum risus. Phasellus et congue justo. </p>
          <p>Sed vitae rutrum neque. Ut id erat sit amet libero bibendum aliquam. Donec ac egestas libero,
            eu bibendum risus. Phasellus et congue justo.</p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Nullam ut massa id odio imperdiet consequat.</li>
            <li>Cras ullamcorper nisi eget condimentum aliquet. </li>
            <li>Cras id libero iaculis, sodales ligula vitae, egestas odio.</li>
            <li>Aenean congue ex et bibendum porta.</li>
          </ul>
          <a href="#" class="sim-btn hvr-radial-in"><span>Contact Us</span></a>
        </div><!-- end messagebox -->
      </div><!-- end col -->

      <div class="col-md-6">
        <div class="right-box-pro wow fadeIn">
          <img src="../../assets/home/uploads/about_01.png" alt="" class="img-fluid img-rounded">
        </div><!-- end media -->
      </div><!-- end col -->
    </div><!-- end row -->
  </div><!-- end container -->
</div><!-- end section -->

</body>
</html>
